<div class="manual-check-body conatiner">

    <div class="title">
        Add Check Manually
    </div>
    <div class="sub-title text-muted">
        Choose an option to manually submit the vaccination status of yje employee
    </div>

    <div class="manual-status">
        <div class="badge ">
            <div class="badge-icon">
                <i class="bi bi-calendar2-check"></i>
            </div>
            <div class="badge-title">
                Partly Vaccinated
            </div>
            <div class="arrow-icon">
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
        <div class="badge ">
            <div class="badge-icon">
                <i class="bi bi-clipboard2-pulse"></i>
            </div>
            <div class="badge-title">
                Medical Exemption
            </div>
            <div class="arrow-icon">
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
        <div class="badge ">
            <div class="badge-icon">
                <i class="bi bi-person-dash"></i>
            </div>
            <div class="badge-title">
                Personal Objection
            </div>
            <div class="arrow-icon">
                <i class="bi bi-chevron-right"></i>
            </div>
        </div>
    </div>


</div>