<div class="header container-fluid">
    <div class="back text-muted" (click)="back()">
        <i class="bi bi-arrow-left"></i>
        Back to profile
    </div>


    <div class="profile ">
        <img class="profile-image-rounded "
            src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250" />


        <div class="title ">
            Vaccination Check
        </div>

    </div>

    <div class="employee-details  ">
        <div class="text-muted">
            John Davidson
        </div>
        <i class="bi bi-dot"></i>
        <div class="employee-job text-muted">
            Hotel
        </div>
    </div>
    <div class="header-logo"><i class="bi bi-hospital"></i></div>

    <div class="buttons ">
        <div class="evidence-button active-now ">
            <button class="btn">
                <i class="bi bi-dot pending-dot evidence-pending"></i>
                <i class="bi bi-check2-all evidence-complete"></i>
                Evidence
            </button>
        </div>
        <div class="submit-check-button now">
            <button class="btn ">
                <i class="bi bi-dot pending-dot submit-pending"></i>
                <i class="bi bi-check2-all submit-complete"></i>
                Submit check
            </button>
        </div>
    </div>

</div>

<div class="app-evidence-section">
    <router-outlet></router-outlet>
</div>