@import "~bootstrap-icons/font/bootstrap-icons.css";

.header {
  max-width: 100%;
  width: 100vw;
  height: 11rem;
  background-color: rgb(8, 27, 47);
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.back {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  cursor: pointer;
}

.bi-arrow-left {
  font-size: 0.9rem;
  color: #fff;
}

.profile-image-rounded {
  display: inline;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-left: 5px;
  margin-top: 15px;
  justify-content: baseline;
  justify-items: baseline;
  align-items: baseline;
  align-content: baseline;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  display: flex;
  margin-left: 0.6rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-bottom: 0px;
}

.employee-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -20px;
  margin-bottom: 0px;
  margin-left: 4.3rem;
}

.bi-dot {
  color: #fff;
  font-size: 1rem;
  align-self: start;
  margin: 0 5px;
}

.profile {
  display: inline-flex;
  margin-top: 0%;
}

.header-logo {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 1rem;
  margin-right: 1rem;
  overflow-y: auto;
}

.bi-hospital {
  font-size: 7.5rem;
  margin-right: 2rem;
  opacity: 0.1;
  color: #6c757d;
  overflow-y: auto;
  /* position: absolute; */
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
  margin-bottom: 0px;
  margin-left: 4.1rem;
  margin-right: 4.1rem;
  align-items: baseline;
  align-self: start;
  justify-items: center;
  justify-content: center;
}
button {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.evidence-button {
  background-color: rgb(8, 27, 47);
  border: 1px solid #44494e;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 1.5rem;
  margin-left: auto;
}

.active-now {
  background-color: rgb(5, 42, 56);
}

.now {
  background-color: rgb(5, 42, 56);
}

.submit-check-button {
  background-color: rgb(8, 27, 47);
  border: 1px solid #44494e;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 1.5rem;
  margin-right: auto;
}

.evidence-button:hover {
  background-color: rgb(21, 39, 60);
  color: #fff;
}

.submit-check-button:hover {
  background-color: rgb(21, 39, 60);
  color: #fff;
}

.btn {
  padding: 0.5rem 1rem;
}

.pending-dot {
  color: rgb(1, 106, 107);
  font-size: 15px;
  align-self: start;
  margin: 0 5px;
}

.bi-check2-all {
  color: rgb(1, 107, 52);
  font-size: 15px;
  align-self: start;
  margin: 0 5px;
}
