<div class="container-fluid checks-body">
    <div class="row ">
        <div class="card    ">
            <div class="card-body">
                <p class="card-title">
                    <span class="card-icon">
                        <i class="bi bi-card-list"></i>
                    </span>

                    Work Entitlement
                </p>
                <hr class="hr">
                <p class="card-head">Not Requested</p>
                <p class="card-text">The check is not requested yet</p>
                <a class="btn btn-add-check">
                    <div class="add-check-icon"><i class="bi bi-plus-circle"></i> Add Check</div>
                </a>
            </div>
        </div>

        <div class="card    ">
            <div class="card-body">
                <p class="card-title">
                    <span class="card-icon">
                        <i class="bi bi-heart-pulse"></i>
                    </span>
                    Vaccination
                </p>
                <hr class="hr">
                <p class="card-head">Not Requested</p>
                <p class="card-text">The check is not requested yet</p>
                <a class="btn btn-add-check" routerLink="/add-vaccinaion">
                    <div class="add-check-icon"><i class="bi bi-plus-circle"></i>Add Check</div>
                </a>
            </div>

        </div>

        <div class="card ">
            <div class="card-body">
                <p class="card-title">
                    <span class="card-icon">
                        <i class="bi bi-hospital"></i>
                    </span>
                    RSA Check
                </p>
                <hr class="hr">
                <p class="card-head">Not Requested</p>
                <p class="card-text">The check is not requested yet</p>
                <a class="btn btn-add-check">
                    <div class="add-check-icon"><i class="bi bi-plus-circle"></i>Add Check</div>
                </a>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="card    ">
            <div class="card-body">
                <p class="card-title">
                    <span class="card-icon">
                        <i class="bi bi-shield-check"></i>
                    </span>
                    Police Check
                </p>
                <hr class="hr">
                <p class="card-head">Not Requested</p>
                <p class="card-text">The check is not requested yet</p>
                <a class="btn btn-add-check">
                    <div class="add-check-icon"><i class="bi bi-plus-circle"></i>Add Check</div>
                </a>
            </div>

        </div>
        <div class="card    ">
            <div class="card-body">
                <p class="card-title">
                    <span class="card-icon">
                        <i class="bi bi-people"></i>
                    </span>
                    Working With Children
                </p>
                <hr class="hr">
                <p class="card-head">Not Requested</p>
                <p class="card-text">The check is not requested yet</p>
                <a class="btn btn-add-check">
                    <div class="add-check-icon"><i class="bi bi-plus-circle"></i> Add Check</div>
                </a>
            </div>
        </div>

        <div class="card    ">
            <div class="card-body">
                <p class="card-title">
                    <span class="card-icon">
                        <i class="bi bi-book"></i>
                    </span>
                    Study Entitlement Check
                </p>
                <hr class="hr">
                <p class="card-head">Not Requested</p>
                <p class="card-text">The check is not requested yet</p>
                <a class="btn btn-add-check">
                    <div class="add-check-icon"><i class="bi bi-plus-circle"></i>Add Check</div>
                </a>
            </div>
        </div>
    </div>
</div>