<div class="profile-body ">
    <div class="row container-fluid">
        <div class="col-lg-1 back"><i class="bi bi-arrow-left"> </i></div>
        <div class="col profile-section">
            <div class="col profile-image">
                <img src="https://www.gravatar.com/avatar/2c7d99fe281ecd3bcd65ab915bac6dd5?s=250"
                    class="profile-image-rounded">


                <div class="col-lg-7 profille-name">
                    John Davidson
                    <div class="job-title">
                        Janitor at Hotel
                    </div>
                </div>

            </div>


        </div>
        <div class="col-lg-4">
            <div class="actions">

                <button class="btn actions-button">
                    <div class="button-text">

                        Actions
                        <i class="bi bi-arrow-right-short"></i>
                    </div>
                </button>
            </div>
        </div>
    </div>

    <div class="row col-lg-12">
        <div class="profile-desciption">
            <table>
                <tr class="profile-desciption-titile">
                    <td class="text-muted">Email</td>
                    <td class="text-muted">Business Unit</td>
                    <td class="text-muted">Recruitment ID</td>
                    <td class="text-muted">Payroll ID</td>
                </tr>
                <tr class="profile-desciption-data">
                    <td>john.abraham@bititude.com</td>
                    <td>Hotel</td>
                    <td>876456</td>
                    <td>JUE3K56</td>
                </tr>
            </table>
        </div>
    </div>
</div>