<div class="container partly-vaccinated-body">
    <div class="header">
        <div class="logo"><i class="bi bi-list-check"></i></div>
        <div class="title">Partly Vaccinated</div>
    </div>
    <div class="sub-title text-muted">Enter the details of the vaccination details</div>

    <div class="header-2">
        Vaccination date and sceheduled date
    </div>
    <form (ngSubmit)="AddVaccination(form)" #form="ngForm">
        <div class="sub-title-2 text-muted">
            1st. Dose Vaccination Date
        </div>
        <div class="row">
            <input type="number" name="firstDoseDay" placeholder="Day" ngModel required>
            <select name="firstDoseMonth" ngModel required>
                <option value="" disabled selected hidden>
                    Month
                </option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>

            </select>
            <input type="number" name="firstDoseYear" placeholder="Year" ngModel required>

        </div>
        <div class="sub-title-2 text-muted">
            2nd. Dose Vaccination Date
        </div>
        <div class="row">
            <input type="number" name="secondDoseDay" placeholder="Day" ngModel required>
            <select name="secondDoseMonth" required ngModel>
                <option value="" disabled selected hidden>Month</option>
                <option value="January">January</option>
                <option value="February">February</option>
                <option value="March">March</option>
                <option value="April">April</option>
                <option value="May">May</option>
                <option value="June">June</option>
                <option value="July">July</option>
                <option value="August">August</option>
                <option value="September">September</option>
                <option value="October">October</option>
                <option value="November">November</option>
                <option value="December">December</option>

            </select>
            <input type="number" name="secondDoseYear" placeholder="Year" ngModel required>
        </div>
        <div class=" back-next-buttons">
            <button type="button" class="btn btn-back" (click)="back()">Back</button>

            <button type="submit" class="btn btn-next" [disabled]="!form.valid">Next</button>
        </div>
    </form>


</div>