.sidebar {
  /* background-color: rgb(19, 40, 62); */
  background-color: rgb(8, 27, 47);
  max-width: 100vw;
  max-height: 100vh;
  position: fixed;
  width: 250px;
  z-index: 1000;
  overflow-x: hidden;
  padding-top: 20px;
  transition: 0.5s;
}

.router-outlet {
  background-color: rgb(20, 40, 60);
  margin-left: 250px;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0;

  overflow-x: hidden;
  transition: 0.5s;
}

.app-parent {
  background-color: rgb(20, 40, 60);
  display: flex;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
