<div class="automated-check-body container">
    <div class="title-body">
        <div class="title">

            Submit Check Evidence for Australian Citizen
        </div>
        <div class="sub-title">Upload the vaccination vertificate for fully vaccinated or booster dose</div>
    </div>
    <div class="upload-file">
        <form class="box">
            <div class="box-input ">
                <div class="upload-icon">
                    <i class="bi bi-cloud-arrow-up-fill"></i>
                </div>
                <input class="upload-file" type="file" id="file" multiple>
                <label for="file">
                    <strong class="upload-title">Drag and drop vaccination Evidence for those who have had 2 doses or a
                        booster,or Browse
                    </strong>

                    <span class="sub-title"> Supports PDF,JPG,PNG Files</span>
                </label>
            </div>
        </form>
    </div>
    <div class="hr">
        <span class="hr-text">
            OR
        </span>
    </div>
</div>