<div class="container-fluid header-body mt-3">
    <div class="search col-lg-4">
        <i class="bi bi-search"></i>

        <input class="search-input" type="text" placeholder="Search for an Employee">

    </div>
    <div class="add-employee-button col-lg-4">
        <button class="btn rounded-3 add-employee">
            <div class="button-text  dropdown-toggle">
                Add Employee
            </div>

        </button>
    </div>
    <div class="col-lg-4 profile">

        <i class="bi bi-person-circle "></i>
    </div>

</div>
<div class="container-fluid hr  text-muted">
    <hr>
</div>